<h1>Teddy's Tables</h1>
<div class="bs-example" data-example-id="default-media">
	<% @questions.each do |q| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" style="width: 64px; height: 64px;" src="<%= q.gravatar %>" data-holder-rendered="true">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= q.email %></h4>

        <p><%= time_ago_in_words q.created_at %> ago</p>

        <p><%= q.body %></p>
		
        <a href="/" class="btn btn-success btn-sm">View Answers</a>
      </div>
    </div>
    <% end %>
</div>